<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <!-- <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png"> -->
  <link rel="icon" type="image/jpg" href="../images/covn.jpg">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Dashboard
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
  <!-- file này css cho mục cảnh báo chạy thống kê -->
  <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
</head>

<body class="">
  <div class="wrapper ">
    
    <% include slideBar %> 

    <div class="main-panel">
      
      <% include navBar %>

      <div class="content">
        <div class="row">
          <div class="col-md-2">
            <p>Thống kê theo :</p>
          </div>
          <div class="col-md-4">
            <select id="province_select" name="province_selects" class="custom-select">
              <option selected value="0">Toàn quốc</option>
              <% var options = []; %>
              <% for(let i = 0; i < province.length; i++) { %>
                <option value='<%= i+1 %>'> <%= province[i] %> </option>
              <%} %>
            </select>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">people</i>
                    </div>
                    <p class="card-category">Tổng dân số</p>
                    <h3 class="card-title">91,4 triệu người</h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons text-danger">warning</i>
                      <a href="#pablo" id="date1">Cập nhật ngày : <%= date_statistic %></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">pie_chart</i>
                    </div>
                    <p class="card-category">Diện tích</p>
                    <h3 class="card-title">34,245 ha</h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons" >date_range</i> <h6 id="date2" ><%= date_statistic %></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">insert_chart</i>
                    </div>
                    <p class="card-category">Tuổi trung bình</p>
                    <h3 class="card-title" id="age"><%= statistic["average_age"] %></h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons" >update</i> <h6 id="date3" ><%= date_statistic %></h6>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">store_mall_directory</i>
                    </div>
                    <p class="card-category">Hộ nghèo</p>
                    <h3 class="card-title" id="poor"><%= statistic["poor_familys"] %> hộ - <%= statistic["percent_poor_family"] %> %
                    </h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons" >update</i> <h6 id="date4" ><%= date_statistic %></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="min-height:600px">
              <div class="col-md-6" style="min-height:600px">
                <div class="col-md-12" style="height:98%">
                  <div class="card card-chart" style="height:97%">
                    <div class="card-header card-header-success" style="height:100%">
                      <div class="ct-chart" style="height:100%" id="table_age"></div>
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">Bảng thống kê tuổi
                        <div class="anotation">
                          <div class="anotation_term" style="background: #e64033"> </div>
                          <h6 style="float:left;">&nbsp; Nam &nbsp;</h6>
                          <div class="anotation_term" style="background: #d8eede"> </div>
                          <h6 style="float:left;">&nbsp; Nữ &nbsp;</h6>
                        </div>
                      </h4>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons" >update</i> <h6 id="date5" ><%= date_statistic %></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="col-md-12">
                  <div class="card" style="min-height:230px">
                    <div class="card-header card-header-tabs card-header-primary">
                    </div>
                    <div class="card-body">
                      <h4 id="percent_working_age"></h4>
                      <h4 id="percent_out_of_work"></h4>
                      <h4 id="percent_man"></h4>
                      <h4 id="percent_woman"></h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" style="height:425px">
                  <div class="card card-chart" style="height:425px">
                    <div class="card-header card-header-danger" style="height:75%;padding: 0px;background: white;">
                      <div class="ct-chart" style="height:100%" id="table_religious"></div>
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">Bảng thống kê tôn giáo
                        <div class="anotation">
                          <div class="anotation_term" style="background: #5dbcd5;"> </div>
                          <h6 style="float:left;">&nbsp; Không &nbsp;</h6>
                          <div class="anotation_term" style="background:#e64033;"> </div>
                          <h6 style="float:left;">&nbsp; Phật giáo &nbsp;</h6>
                          <div class="anotation_term" style="background: #ec9620;"> </div>
                          <h6 style="float:left;">&nbsp; Thiên chúa giáo &nbsp;</h6>
                          <div class="anotation_term"> </div>
                          <h6 style="float:left;">&nbsp; Hồi giáo &nbsp;</h6>
                        </div>
                      </h4>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons" >update</i> <h6 id="date6" ><%= date_statistic %></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" style="height:425px">
                <div class="card card-chart" style="height:425px">
                  <div class="card-header card-header-warning ct-chart" style="height: 80%;padding: 0px;">
                    <div class="ct-chart" style="height:98%;" id="table_jobs"></div>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">Bảng thống kê nghề nghiệp</h4>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons" >update</i> <h6 id="date7" ><%= date_statistic %></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="container-fluid">
            <nav class="float-left">
              <ul>
                <li>
                  <a href="https://github.com/TorRient/electronic-id-card">
                    SYSTEM ID
                  </a>
                </li>
                <li>
                  <a href="https://github.com/TorRient/electronic-id-card">
                    About Us
                  </a>
                </li>
                <li>
                  <a href="https://github.com/TorRient/electronic-id-card">
                    Blog
                  </a>
                </li>
                <li>
                  <a href="https://github.com/TorRient/electronic-id-card">
                    Licenses
                  </a>
                </li>
              </ul>
            </nav>
            <div class="copyright float-right">
              &copy;
              <script>
                document.write(new Date().getFullYear())
              </script>, Design <i class="material-icons">favorite</i> by
              <a href="https://github.com/TorRient/electronic-id-card" target="_blank">ENDGAME</a> group.
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Plugin for the momentJs  -->
    <script src="../assets/js/plugins/moment.min.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="../assets/js/plugins/sweetalert2.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="../assets/js/plugins/jquery.validate.min.js"></script>
    <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="../assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="../assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
    <script src="../assets/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="../assets/js/plugins/fullcalendar.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="../assets/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="../assets/js/plugins/nouislider.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Library for adding dinamically elements -->
    <script src="../assets/js/plugins/arrive.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chartist JS -->
    <script src="../assets/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script language="javascript" src="../js/dashboard.js"></script>
    <!-- file này chứa hàm vẽ biểu đồ và chứa hàm điều hướng chạy thống kê -->
    <script>
      $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        md.initDashboardPageCharts();

      });
    </script>

    <!-- loadding -->
    <div id="circle">
      <div class="loader">
        <div class="loader">
            <div class="loader">
               <div class="loader">
    
               </div>
            </div>
        </div>
      </div>
    </div> 
    <!-- một số dòng html phục vụ cho việc truyền dữ liệu -->
    <div id="warning">
    </div>
    <div id="box_warning">
      <h4 style="padding: 20px; text-align: center;">Việc chạy thống kê có thể mấy 5-10 phút , bạn có muốn tiếp tục !
      </h4>
      <div id="ok" onclick="ok()">Tiếp tục</div>
      <div id="cance" onclick="cance()">Trở lại</div>
    </div>
    <p id="percent_age" style="visibility: hidden"> <%=percent_age%></p>
    <p id="percent_jobs" style="visibility: hidden"> <%=percent_jobs%></p>
    <p id="percent_religious" style="visibility: hidden"> <%=percent_religious%></p>
    <!-- một số dòng html phục vụ cho việc truyền dữ liệu -->

    <!-- vẽ các biểu đồ , hàm này ở public/js/dashboard.js -->
    <script>
      var percent_age = JSON.parse($("#percent_age").text());
      var percent_jobs = JSON.parse($("#percent_jobs").text());
      var percent_religious = JSON.parse($("#percent_religious").text());
      draw_chart(percent_age,percent_jobs,percent_religious);
    </script>


</body>

</html>